/* main */
:root {
  --yellow: #FFCC00;
  --red: #FF0000;
  --pink: #FF99CC;
  --green: #00CC66;
  --cyan: #00FFFF;
  --blue: #0099FF;
  --violet: #9900FF;
  --font-light: bandeins_strangelight;
  --font-regular: bandeins_strangeregular;
  --font-bold: bandeins_strangebold;
  --font-medium: bandeins_strangemedium;
}

p {
  font-size: 2rem;
  font-family: bandeinsstrangeregular;
  margin: 0;
}

html {}

html, body {
  height: 100%;
}

main {
  height: 100vh;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFCC00;
  position: relative;
  width: 100vw;
}

a:hover {
  color: black;
}

/* Font Faces */
@font-face {
  font-family: 'bandeins_strangebold';
  src: url('../css/fonts/bandeinsstrangebold-webfont.woff2') format('woff2'),
    url('../css/fonts/bandeinsstrangebold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bandeins_strangeregular';
  src: url('../css/fonts/bandeinsstrangeregular-webfont.woff2') format('woff2'),
    url('../css/fonts/bandeinsstrangeregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bandeins_strangesemi_bold';
  src: url('../css/fonts/bandeinsstrangesemibold-webfont.woff2') format('woff2'),
    url('../css/fonts/bandeinsstrangesemibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bandeins_strangelight';
  src: url('../css/fonts/bandeinsstrangelight-webfont.woff2') format('woff2'),
    url('../css/fonts/bandeinsstrangelight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bandeins_strangemedium';
  src: url('../css/fonts/bandeinsstrangemedium-webfont.woff2') format('woff2'),
    url('../css/fonts/bandeinsstrangemedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* home page */
.navi {
  z-index: 1000;
}

.maintitle {
  font-family: var(--font-medium);
  color: white;
  font-size: 2rem;
  margin: auto;
  margin-left: 2rem;
  line-height: 5rem;
}

.barratitolo {
  line-height: 20%;
  background-color: var(--violet);
  border: 2px solid black;
  vertical-align: middle;
}

.barraabout {
  line-height: 20%;
  background-color: white;
  border: 2px solid black;
  border-left: 0;
  text-align: center;
}

.about {
  color: black;
  font-size: 2rem;
  margin: auto;
  line-height: 5rem;
}

.logo {
  color: black;
  font-size: 8rem;
  margin: auto;
  line-height: 28rem;
}

.prin {
  border: 2px solid black;
  border-top: 0;
  margin: auto;
}

.desc {
  text-align: center;
}

.sottotitolo {
  font-size: 2rem;
  position: relative;
  top: -11rem;
}

.ill {
  position: absolute;
  top: 90%;
}

/* testo che scorre */
.marquee {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

.rect {
  background-color: var(--violet);
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  margin: 0;
}

.marquee span {
  margin: 0;
  display: inline-block;
  padding-left: 100% !important;
  animation: marquee 120s linear infinite;
  font-family: bandeinsstrangelight;
  font-size: 2rem;
}

.text {
  padding: 0;
  color: white;
}

/* Make it move */
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

/* elementi principali */
.table {
  margin-bottom: 0;
}

.table th {
  vertical-align: middle;
  padding: 0;
  border: 2px solid black;
}

.table td {
  vertical-align: middle;
}

.primariga {
  display: inline-flex;
}

.clessidra {
  background-color: var(--yellow);
  border: 0.5px solid black;
  width: 4rem;
  line-height: 1.3rem;
  text-align: center;
  padding: .75rem !important;
}

.imgcles {
  width: 60%;
  height: auto;
}

.titoloriga {
  font-size: 1.6rem;
  font-family: var(--font-light);
  margin-bottom: 0;
  margin-left: 1rem;
}

.title {
  background-color: var(--yellow);
  border: 0.5px solid black;
  padding: .75rem !important;
}

.numerotest {
  text-align: right;
  width: 100%;
  height: auto;
}

.numero {
  background-color: var(--yellow);
  width: 4rem;
  line-height: 2rem;
  border: 2px solid black;
  text-align: right;
}

.tempo {
  background-color: var(--yellow);
  border: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
}

.giustosbagliato {
  border: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
}

.rettangolo {
  margin: 1rem auto;
  width: 1.8rem;
  height: 38rem;
  border-radius: 40px;
  border: 2px solid black;
  background: white;
}

.temposcorre {
  font-size: 1rem;
}

.punteggio {
  margin: 1rem auto;
  width: 1.8rem;
  height: 2.5rem;
  border-radius: 40px;
  border: 2px solid black;
}

.principale {
  background-color: var(--yellow);
  border-bottom: 2px solid black;
}

#OP2, #OP1 {
  width: 90%;
}

#OP1 {
  float: right;
  margin-right: 2rem;
}

#OP2 {
  float: left;
  margin-left: 1rem;
}

#prog {
  width: 80%;
}

#right {
  min-width: 100%;
  height: 100%;
}
